Webpack - сборщик проектов(собирает модули в один js файл)
 1) Babel (изменяет код на более позднюю версию)
 2) Scss
 3) Eslint (слудит за чистотой)

 2 Modes
  - Dev
    Dev Server (Для обновления страницы), SourceMaps (Исходные карты - для Scss, debug),
    Eslint (содержание кода в едином коде), Node Minified JS $ CSS (Понимание кода)

  - Prod
    Minified Code

Git (Версии приложения)

    Production
    1.0.0

    0 ------------

    Development
    1.0.2

    1 -------------- + --  PR (Запрос на изменения)
    2 ----------------     | - происходит удаление ветки разработки